body{


	background: url("../imagens/mummies.jpg") no-repeat center center fixed;
	background-size: 100% 100%;

}

header{

	margin-top: 5%;
	text-align: center;
	color: #000000;
	font-size: 10vh;

}

aside,article{
	border-radius: 25px;
	border-style: solid;
	border-color: #3A2716;
	background: url("../imagens/pergaminho.png");
	background-size: 100% 100%;
	width: 35%;
	border:0;
	height: 50vh;
	margin-top: 10vh;

}

aside{

	margin-right: 10%;
	float: right;
}
article{
	margin-left: 10%;
	float: left;
}

button{
	cursor: pointer;
}

.fields{

	margin: 0 auto;
	margin-top: 3vh;
	text-align:center;
	display: block;
	width: 30%;
	height: 10%;
}

.options{

	border-radius: 7px;
	top:5vh;
	position: relative;
	text-align:center;
	height: 5vh;
	width: 20%;
}



#join_user,#log_user{
	margin-top: 8vh;
}
